# **Capstone Project: E-commerce Sales Analysis**: 🎓📊

<h1 style="font-size: 50px; font-family: Arial, sans-serif; color: #4CAF50;">
  Team Information 👥

</h1>

---

**Team 8** - Sprints Bootcamp

**Team Members:**
  ```
Remas
Menna Magdy Mohamed
Ibrahim Abdel Basir Gomaa
Fady Raouf
Mohamed Alaa Farrag
```

# **Setting Up the Environment** 🛠️

---

In [1]:
!pip install pandas numpy matplotlib seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\fady\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\fady\appdata\roaming\python\python312\site-packages (1.26.4)
Requirement already satisfied: matplotlib in c:\users\fady\appdata\roaming\python\python312\site-packages (3.10.0)
Requirement already satisfied: seaborn in c:\users\fady\appdata\roaming\python\python312\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fady\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\fady\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\fady\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\fady\appdata\roaming\python\python312\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\fady\appdata\roaming\python\python312\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\fady\appdata\roaming\python\python312\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\fady\appdata\roaming\python\python312\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\fady\appdata\roaming\python\python312\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\fady\appdata\roaming\python\python312\site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\fady\appdata\roaming\python\python312\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\fady\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

##Import libraries

In [3]:
import pandas as pd  # For data manipulation
import numpy as np  # For numerical operations
import matplotlib.pyplot as plt  # For plotting graphs
import seaborn as sns  # For statistical data visualization

# For handling time series data
import datetime

##Load the DataSet

In [6]:
data_sales = pd.read_csv('data.csv', encoding='unicode_escape')

##Set Plot Style (Optional)

In [7]:
print(data_sales)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

## Basic Data Overview

In [10]:
print(data_sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

# 🎯 **Task 1 : Data Cleaning** 🧹
**Description**: Clean and preprocess the dataset by handling missing values, formatting data types, and removing incorrect records.

**Requirments**:
- Handle missing values in CustomerID
- Convert InvoiceDate to DateTime type
- Remove rows with negative Quantity or UnitPrice
- Create a TotalPrice column

In [14]:
#detect missing data
missing_sales=data_sales.isnull().sum()
print(missing_sales)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [24]:
# Fill missing CustomerID by propagating from InvoiceNo group
# data_sales['CustomerID'] = data_sales.groupby('InvoiceNo')['CustomerID'].transform(lambda x: x.ffill().bfill())
# Handle missing values in CustomerID (e.g., fill with a placeholder or drop rows)
data_sales['CustomerID'].fillna('Unknown', inplace=True)

print(missing_sales)

InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID        0
Country           0
dtype: int64

In [28]:

# Convert InvoiceDate to DateTime type
data_sales['InvoiceDate'] = pd.to_datetime(data_sales['InvoiceDate'])

print(data_sales['InvoiceDate'])

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate, Length: 541909, dtype: datetime64[ns]
0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate, Length: 541909, dtype: datetime64[ns]

In [30]:
# Remove rows with negative Quantity or UnitPrice
data_sales = data_sales[(data_sales['Quantity'] > 0) & (data_sales['UnitPrice'] > 0)]

InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID        0
Country           0
dtype: int64

In [34]:
# Create a TotalPrice column (Quantity * UnitPrice)
data_sales['TotalPrice'] = data_sales['Quantity'] * data_sales['UnitPrice']

print(data_sales.info())

<class 'pandas.core.frame.DataFrame'>
Index: 530104 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    530104 non-null  object
 1   StockCode    530104 non-null  object
 2   Description  530104 non-null  object
 3   Quantity     530104 non-null  int64
 4   InvoiceDate  530104 non-null  datetime64[ns]
 5   UnitPrice    530104 non-null  float64
 6   CustomerID   530104 non-null  object
 7   Country      530104 non-null  object
 8   TotalPrice   530104 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 40.4+ MB
None

C:\Users\fady\AppData\Local\Temp\ipykernel_7212\262659812.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sales['TotalPrice'] = data_sales['Quantity'] * data_sales['UnitPrice']

# 🎯 **Task 2 : Exploratory Data Analysis (EDA)** 🔍
**Description**: Perform basic descriptive statistics and identify insights from the dataset. Analyze top-selling products and calculate total revenue and transactions.values. You will also check the data types of each column to understand how the data is structured.

**Requirments**:
-  Use .describe() for statistical summary.
- Identify top 10 selling products by Quantity.
- Calculate total revenue and number of transactions.

# 🎯 **Task 3 : Time Series Analysis** 📅📈
**Description**: Analyze sales trends over time and visualize monthly sales. Identify months with highest and lowest sales.

**Requirments**:
-  Resample the data to obtain monthly sales
-  Plot monthly sales trends using a line plot.
-  Identify the month with the highest and lowest sales.

# 🎯 **Task 4 : RFM Analysis (Customer Segmentation)** 🧩
**Description**: Segment customers based on recency, frequency, and monetary value. Visualize customer distribution in segments.

**Requirments**:
-  Calculate recency (days since last purchase).
-  Calculate frequency (number of purchases).
-  Calculate monetary value (total spend).
-  Segment customers into High, Medium, Low-value groups.

# 🎯 **Task 5 : Product Category Analysis** 📦💰
**Description**: Analyze sales and revenue by product category and visualize the top categories by revenue.

**Requirments**:
-  Extract product category from Description.
-  Calculate sales and revenue by category.
-  Create a bar plot of the top 5 categories by revenue.

# 🎯 **Task 6 : Geographical Analysis** 🌍📊
**Description**: Analyze sales distribution by country and identify top revenue-generating countries.

**Requirments**:
-  Calculate total revenue by country.
-  Create a bar plot of the top 10 countries by revenue.
-  Calculate the percentage of sales from the top 3 countries.

# 🎯 **Task 7 : Customer Behavior Analysis** 👤🛒
**Description**: Analyze customer behavior based on order quantity, sales, and purchasing patterns.

**Requirments**:
-  Plot the distribution of order quantities.
-  Create a scatter plot of Quantity vs. TotalPrice.
-  Calculate and plot average daily sales throughout the week.

# 🎯 **Task 8 : Moving Average Forecast** 📉🔮
**Description**: Implement a basic moving average forecast for sales based on past data.

**Requirments**:
-  Prepare daily sales data.
-  Calculate a 7-day moving average of sales.
-  Plot actual sales vs. moving average for the last 3 months.

# 🎯 **Task 9 : Summary Dashboard Creation** 📊📺
**Description**: Create a dashboard that summarizes key insights through visualizations.

**Requirments**:

Create a 2x2 subplot with:
  1.   Monthly sales trend
  2.   Top 5 products by revenue
  3.   Customer segment distribution
  4.   Top 5 countries by revenue.

# 🎯 **Task 10 : Optimize Data Processing** ⚡💻
**Description**: Optimize a computationally intensive task using vectorized operations.

**Requirments**:
-  Implement a task using loops.
-  Implement the same task using vectorized operations.
-  Compare and report performance differences.

# 🎯 **Task 11 : Report Generation** 📜📋
**Description**: Generate a summary report with key insights and recommendations.

**Requirments**:
-  Summarize overall revenue, top-selling products, best customer segments, and countries.
-  Provide insights from time series analysis and recommendations.